/* Ocultar barra de desplazamiento pero permitir scroll */
.thumbnails-carousel {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.thumbnails-carousel::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

/* Efectos de las tarjetas */
.movie-card {
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), z-index 0.3s;
    transform-origin: center;
}

.movie-card:hover {
    transform: scale(1.1);
    z-index: 20;
    box-shadow: 0 10px 15px -3px rgba(220, 38, 38, 0.5); /* Sombra roja suave */
}
