body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://img.freepik.com/foto-gratis/luces-brillantes-sobre-fondo-azul-oscuro_23-2147798922.jpg?t=st=1735503210~exp=1735506810~hmac=70c4fa65d40c8506a6b457a668bdb2ed2111e0f6dafb877cf2c192bd2a81efaa&w=740');
    color: #fff;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-item {
    margin-bottom: 20px;
}

.nav-item img {
    width: 100%;
    height: auto;
}

.nav-link {

