body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://img.freepik.com/foto-gratis/luces-brillantes-sobre-fondo-azul-oscuro_23-2147798922.jpg?t=st=1735503210~exp=1735506810~hmac=70c4fa65d40c8506a6b457a668bdb2ed2111e0f6dafb877cf2c192bd2a81efaa&w=740');
    color: #fff;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    font-size: 1.2em; /* Agrandar el texto del nav */
    background-color: rgba(0, 0, 0, 0.9);
}

.navbar-brand {
    font-size: 1.5em; /* Agrandar el texto de la marca */
}

.nav-link {
    color: #e50914 !important;
    margin-right: 10px;
}

.nav-link:hover {
    color: #fff !important;
    background-color: #e50914;
    border-radius: 5px;
}

header, footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-bottom: 3px solid #e50914;
    border-top: 3px solid #e50914;
}

.background-text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

iframe, video {
    display: block;
    max-width: 100%;
    margin: 20px auto;
    border: 3px solid #e50914;
    border-radius: 10px;
}

h3 {
    text-align: center;
    color: #e50914;
    font-size: 32px; /* Aumentado el tamaño de la fuente */
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace; /* Cambiada la fuente */
}

p {
    text-align: center;
   
